<div class="data">
    <h2>Set details</h2>
    <ul>
        <li>Name: <%= data.name %></li>
        <li>By: <%= data.user %></li>
        <li>Id: <%= data.id %></li>
        <li>Average rating:<%= data.rating %>/5</li>
        <li>Created:<%= data.created %></li>
        <li>Updated: <%= data.updated %></li>
        <li>Description: <%= data.Description %></li>
    </ul>
</div>