<%- include('../../assets/headerSub.html') %>
<title>All collections</title>
</header>
<body>
  <%- include('../../assets/nav.html') %>
  <main>
  <h1>All collections:</h1>
  <ul>
    <% for (let index = 0; index < collections.length; index++) { %>
        <li>
            <ul>
                <li>Collection: <%=collections[index].name%></li>
                <li>ID: <%=collections[index].id%></li>
                <li>Author's ID: <%=collections[index].userId%></li>
                <li>Description: <%=collections[index].description%></li>
                <br>
            </ul>
        </li>
    <% } %>
  </ul>
  </main>
  <%- include('../../assets/footer.html') %>
</body>
