<%- include('../../assets/header.html') %>
<title>Message</title>
</header>
<body>
    <%- include('../../assets/nav.html') %>
    <main>
        <h1><%= title %></h1>
        <h2><%= subTitle %></h2>
        <p><%= message %></p>
    </main>
    <%- include('../../assets/footer.html') %>
</body>