<div class="data">
    <h2><%= data.username %></h2>
    <ul>
        <li>Id: <%= data.id %></li>
        <li>Daily set limit<%= data.dailySets %>/20</li>
        <li>Is admin?:<%= data.admin %></li>
        <li>Collection count<%= data.collections %></li>
        <li>Total created sets count<%= data.sets %></li>
    </ul>
</div>