<%- include('../../assets/header.html') %>
<title>title</title>
<script>
async function deleteAcc(event){
  event.preventDefault();

}
async function ownCollections(event){
  event.preventDefault();

}
async function ownSets(event){
  event.preventDefault();

}
async function adminPanel(event){
  event.preventDefault();

}
</script>
</header>
<body>
  <%- include('../../assets/nav.html') %>
  <main>
  <h1>Hello <%= username %>!</h1>
  <h2>profile:</h2>
  <ul>
    <li>Username: <%=username%></li>
    <li>ID: <%=id%></li>
    <% //: convert SQL boolean to "Yes" or "No"
    if(isAdmin == 1){ isAdmin = "Yes"; }
    else{ isAdmin = "No"; }
    %>
    <li>Is admin?: <%=isAdmin%></li>
    <li>Sets made today: <%=dailySets%>/20</li>
  </ul>
  <h2>actions:</h2>
  <button onclick="funct(event)">Edit profile</button>
  <button onclick="deleteAcc(event)">Delete account</button>
  <button onclick="ownCollections(event)">View own collections</button>
  <button onclick="ownSets(event)">View own sets</button>
  <button onclick="adminPanel(event)">Admin panel</button>
  </main>
  <%- include('../../assets/footer.html') %>
</body>
