<%- include('../../assets/headerSub.html') %>
<title>title</title>
<script type="module">
/* Disable script because buttons don't seem to recognise the functions, so I made them refer to another URL instead:

console.log("from commons.js:");
commons.test();
//^ Ensure commons is available

//: neccessary because type="module" makes them non-gobal by default
document.addEventListener('DOMContentLoaded', () => {
  console.log("DOM has been loaded");
  document.getElementById("signOut").addEventListener('click', signOut);
});

async function signOut(event){
  console.log("attempting to sign out");

  //: set-up
  let response; let status; let data;
  event.preventDefault();

  data = {userToken: commons.readToken()}
  response = await fetch(
      //* user's request to logout
      '/user/logout',{
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data)
      }
    );
  status = response.status

  if (status == 500){
    //* user isnt logged in
    response = await response.json()
    data = {title: "Cannot log out", subTitle: "500", message: res.body.message}
    response = await fetch(
      '/message',{
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data)
      }
    );
    document.body.innerHTML = await response.text();
    return;
  }
  if (status == 401){
    //* user isnt logged in
    response = await response.json()
    data = {title: "Cannot log out", subTitle: "401", message: res.body.message}
    response = await fetch(
      '/message',{
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data)
      }
    );
    document.body.innerHTML = await response.text();
    return;
  }
  if (status == 422){
    //* user isnt logged in
    response = await response.json()
    data = {title: "Cannot log out", subTitle: "422", message: res.body.message}
    response = await fetch(
      '/message',{
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data)
      }
    );
    document.body.innerHTML = await response.text();
    return;
  }
  window.location.href = '/home';
}
async function deleteAcc(event){
  event.preventDefault();

}
async function ownCollections(event){
  event.preventDefault();

}
async function ownSets(event){
  event.preventDefault();

}
async function adminPanel(event){
  event.preventDefault();

}
*/
</script>
</header>
<body>
  <%- include('../../assets/nav.html') %>
  <main>
  <h1>Hello <%= username %>!</h1>
  <h2>profile:</h2>
  <ul>
    <li>Username: <%=username%></li>
    <li>ID: <%=id%></li>
    <% //: convert SQL boolean to "Yes" or "No"
    if(isAdmin == 1){ isAdmin = "Yes"; }
    else{ isAdmin = "No"; }
    %>
    <li>Is admin?: <%=isAdmin%></li>
    <li>Sets made today: <%=dailySets%>/20</li>
  </ul>
  <h2>actions:</h2>
  <a href="/user/deleteConfimation" class="button">Delete account</a>
  </main>
  <%- include('../../assets/footer.html') %>
</body>
