<%- include('assets/header.html') %>
<title>Home</title>
</header>
<body>
    <%- include('assets/nav.html') %>
    <main>
        <h1><%= title %></h1>
        <h2><%= subTitle %></h2>
        <p><%= mesg %></p>
    </main>
    <%- include('assets/footer.html') %>
</body>